html, 
body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: rgb(2, 10, 85);
  }


.jumbotron {
    background-image: url("../images/stars.jpg");
    background-size: cover;
    height: 550px;
    
  }

.jumbotron h1 {
    font-size: 0.1rem;
    animation: title 1.2s forwards linear;
  }

.jumbotron p {
    font-size: 2rem;
    opacity: 0;
    animation: subtitle 1.2s forwards linear;
    animation-delay: 1.2s;
  }

form {
  padding: 10px;
  border: 2px solid rgb(26, 25, 25);
}

.form-control {
    width: 120px;
    height: 35px;
    border-radius: 5px;
    color: #8e979f;

}

.btn {
  box-shadow: 4px 4px 10px black;
  border-radius: 10px;
}

.centerhv {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

.col-auto{
  color: #fafcf8;
}

.heading{
  color: #fafcf8;
}

.incident{
  color: #fafcf8;
}

/* keyframe animations which will be used to animate the title */
@keyframes title {
    from {
      opacity: 0;
    }
  
    to {
      font-size: 7.5rem;
      opacity: 1;
    }
  }
  
  @keyframes smaller-title {
    from {
      opacity: 0;
    }
  
    to {
      font-size: 5.5rem;
      opacity: 1;
    }
  }
  
  @keyframes subtitle {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }